$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  --primary-color: #184d47;
  --primary-text-color: #fff;
  --featured-bg: #493b8a;
  --featured-text: #fff;
  --secondary-color: #10072b;
  --background: #d6efc7;
  --site-header: var(--background);
  --card-bg: #eebb4d;
  --link-underline: #96bb7c;
  //--card-bdr: #eee;
  //--card-shadow: #184d47;
  --btn-bg: var(--background);
  --btn-bdr: #184d47;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);

  font-family: $font-family;
  background-color: var(--background);
  color: var(--text-color);
}

* {
  margin-top: 0
}

.site-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1140px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  img {
    max-width: 100%;
  }
}

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background: var(--site-header);
  align-items: center;
}

.site-content {
  display: flex;
  padding-top: 50px;
  height: 100vh;
  overflow: hidden;
}

.site-footer {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #666;
  display: flex;
  justify-content: center;

  a {
    font-weight: 700;
  }
}

.site-title a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  box-shadow: inset 0 -7px 0 0 var(--link-underline);

  &:hover {
    box-shadow: inset 0 -40px 0 0 var(--link-underline);
  }
}

.navigation {
  display: flex;
  align-items: center;
  font-weight: 300;

  a {
    color: #888;
    text-decoration: none;
    margin: 0 8px 0;
    box-shadow: none;

    &[aria-current] {
      color: var(--primary-color);
      font-weight: 700;
      box-shadow: inset 0 -6px 0 0 var(--link-underline);
    }

    &:hover {
      color: var(--primary-color);
      box-shadow: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.headline {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.card {
  display: grid;
  background-color: var(--card-bg);
  border-radius: 9px;
  border: 1px solid var(--card-bdr);
  box-shadow: 0 0 30px var(--card-shadow);
  overflow: hidden;
  line-height: 1.5;
  position: relative;
  transition: all 0.25s ease 0s;
  top: 0px;

  &:hover {
    top: -10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 16px;
  }

  &:hover .prj-link {
    color: var(--primary-color);
  }

  >a img {
    display: block;
  }

  >header {
    padding: 24px;
  }

  >h2:first-child {
    margin: 0 0 0.5rem 0;
  }

  .prj-title {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .prj-meta {
    font-weight: 100;
    margin-bottom: 0;
  }

  .prj-link {
    text-decoration: none;
    box-shadow: inset 0 -7px 0 0 var(--link-underline);

    &:hover {
      box-shadow: inset 0 -40px 0 0 var(--link-underline);
    }
  }

  .prj-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}

.prj-meta {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
}

.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}

/* Portrait and Landscape */
@media only screen and (min-width: 768px) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}